@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #F9F9F9;
    font-family: 'Montserrat';

}

header {
    background: linear-gradient(180deg, #003366, #005599);
    color: #FFFFFF;
    padding: 1% 5%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    align-items: center;
}

header img {
    max-width: 100px;
    max-height: 100px;


}



.titulo h1 {
    font-size: 1.8vw;
    font-weight: bold;
    color: #FFFFFF;
    margin: 0;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.countdown {
    display: none;
    text-align: center;
    font-size: 1.8vw;
    font-weight: bold;
    color: #FFFFFF;
    background: linear-gradient(180deg, #006699, #00AEEF);
    padding: 2% 0;
    border-radius: 20px;
    margin: 2% auto;
    width: 70%;
    box-shadow: 0 0.4vw 0.6vw rgba(0, 0, 100, 0.3);

}


.tituloSorteo {
    text-align: center;
    font-size: 2vw;
    font-weight: bold;
    color: #003366;
    padding-bottom: 5%;
    padding-top: 0%;

}

h1 {
    text-align: center;
    font-size: 2vw;
    font-weight: bold;
    color: #003366;
    padding-bottom: 5%;
    padding-top: 0%;
}

h2 {
    color: #003366;
}


.mainContent {
    display: flex;
    align-items: stretch;
    width: 90%;
    margin: 0 auto;
    padding: 2%;
    align-items: flex-start;
    height: 90vh;
    margin-bottom: 10%;
    min-height: 90vh;
}



form {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FFFFFF;
    padding: 4%;
    border-radius: 10px;
    box-shadow: 0 0.4vw 0.6vw rgba(0, 0, 100, 0.3);
    height: auto;
    margin: 0% 3%;
}

.agradecimientoPartipacion {
    flex: 1;
    flex-grow: 1;
    display: none;
    background-color: #FFFFFF;
    padding: 3% 5%;
    border-radius: 10px;
    box-shadow: 0 0.4vw 0.6vw rgba(0, 0, 100, 0.3);
    height: auto;
    margin: 0% 3%;
    flex-wrap: wrap;
    justify-content: center;
    width: 90%;
    margin-bottom: 60%;

}

.premios {
    text-align: center;
    margin: 10%;


}

iframe {
    aspect-ratio: 16 / 9;
    margin: 10%;
    width: 100%;
    max-width: 100vh;
    height: 50vh;
    border-radius: 15px;
}

.inputContenedor {
    position: relative;
    width: 90%;
    margin-bottom: 1em;
    display: inline-block;
}


.iconoError {
    position: absolute;
    right: 3%;
    top: 30%;
    transform: translateY(-50%);
    color: red;
    display: none;
    font-size: 1.2vw;
}

.parrafoVerificacion {
    color: red;
    font-size: 0.9vw;
    height: 1.5em;
    margin-top: 0.5em;
    width: 90%;

}

form input {
    width: 100%;
    margin: 1.2% 0;
    padding: 0.8% 1.5%;
    border: 1px solid #003366;
    border-radius: 8px;
    font-size: 1.2vw;
    font-family: 'Montserrat';
    color: #003366;

}

form input[type="text"]:focus,
form input[type="email"]:focus,
form input[type="number"]:focus {
    outline: none;
    box-shadow: 0 0.5vw 0.8vw rgba(0, 85, 153, 0.3);
    border-color: #005599;
}

/*QUITAR FLECHAS SUBIR Y BAJAR INPUT NUMERICO+*/
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.parrafoVerificacion {
    text-align: left;
    width: 90%;
    margin: 0;
    height: 1.5em;
    font-size: 0.9vw;
    color: red;
    display: none;
    margin-bottom: 1%;
    margin-top: 1%;

}



form button {
    background-color: #FF8C00;
    color: #FFFFFF;
    border-radius: 25px;
    font-size: 1.1vw;
    border: none;
    cursor: pointer;
    width: 60%;
    margin: 1.2% 0;
    height: auto;
    box-shadow: 0 0.5vw 1vw rgba(0, 0, 100, 0.3);
    transition: background-color 0.3s ease, transform 0.3s ease;
    padding: 1.2em 2em;
    display: flex;
    align-items: center;
    justify-content: space-evenly;


}



form button:hover {
    background-color: #FF6F00;
    transform: scale(1.05);
    box-shadow: 0 0.4vw 0.6vw rgba(255, 143, 0, 0.4);
}

form input::placeholder {
    color: #003366;

}


.publicidad {
    display: block !important;
    flex-basis: 20%;
    background-color: #FFFFFF;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    text-align: center;
    padding: 2%;
    border-radius: 10px;
    box-shadow: 0 0.4vw 0.6vw rgba(0, 0, 100, 0.3);
    cursor: pointer;
    height: 100%;


}

.publicidad:hover {
    transform: scale(1.03);
    transition: transform 0.3s ease-in-out;
}



.proteccionDatos {
    display: flex;
    align-items: center;
    font-size: 1.1vw;
    margin-top: 2%;
    margin-bottom: 2%;
}


.proteccionDatos input[type="checkbox"] {
    width: 1.4vw;
    height: 1.4vw;
    border: 0.1vw solid #003366;
    border-radius: 0.3vw;
    /* Quitar estilo predeterminado */
    appearance: none;
    cursor: pointer;
    position: relative;
    margin-right: 0.7vw;


}


.proteccionDatos input[type="checkbox"]:checked {
    background-color: #00AEEF;
    border-color: #003366;
}

/* Tick blanco centrado */
.proteccionDatos input[type="checkbox"]:checked::after {
    /* Tick azul */
    content: "✔";
    color: #003366;
    font-size: 1.1vw;
    text-align: center;
    position: absolute;
    top: 40%;
    left: 53%;
    transform: translate(-50%, -50%);
    text-align: center;
}




.proteccionDatos label {
    color: #003366;
}









footer {
    background-color: #003366;
    color: #FFFFFF;
    padding: 1.5% 5%;
    text-align: center;
    display: flex;
    align-items: center;
    width: 100%;
    font-size: 0.85vw;

}

.footer-logo {
    flex: 1;
    text-align: center;
}

.footer-logo img {
    max-width: 150px;
    max-height: 150px;
}

.footer-links {
    flex: 1;
    text-align: center;
}

.footer-links h3 {
    font-size: 1.5vw;
    margin-bottom: 1vw;
}

.footer-links ul {
    list-style: none;
    padding: 0;
}

.footer-links li {
    margin: 0.5vw 0;
}

.footer-links a {
    color: #00AEEF;
    text-decoration: none;
    transition: color 0.3s;
}

.footer-links a:hover {
    color: #FF8C00;
    text-decoration: underline;
}

.footer-info {
    flex: 1;
    text-align: center;
    font-size: 0.9vw;
}

.footer-info p {
    margin: 0.5vw 0;
}



/* Enlaces */
a {
    color: #007ACC;
    text-decoration: none;
}

a:hover {
    color: #FF8C00;

}



/*MODAL ESTILO*/
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.modalContent {
    background-color: #fff;
    padding: 2rem;
    border-radius: 10px;
    width: 90%;
    max-width: 600px;
    max-height: 90vh;
    overflow-y: auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    margin: auto;
}


.modalContent h2 {
    color: #003366;
}


.modalContent p {
    margin-bottom: 1.5rem;
}


#acceptButton {
    background-color: #003366;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    transition: background-color 0.3s ease;
}

#acceptButton:hover {
    background-color: #005599;

}

.success-gif {
    width: 15vw;
    max-width: 100px;
    height: auto;
    position: absolute;
    top: 36%;
    left: 47%;
    transform: translate(-50%, -50%);
    animation: bounce 1s forwards;
}

/*ANIMACION PARA CUANDO TE REGISTRAS*/
@keyframes bounce {

    0%,
    20%,
    50%,
    80%,
    100% {
        transform: translateY(0);
        /* Posición original */
    }

    40% {
        transform: translateY(-10px);
        /* Sube un poco */
    }

    60% {
        transform: translateY(-5px);
        /* Rebote ligero */
    }
}


/* MODAL COOKIES */
.cookie-modal {
    display: none;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 20px;
    color: white;
    text-align: center;
    z-index: 1000;
}

.cookie-modal-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 500px;
    margin: auto;
}

.cookie-modal button {
    padding: 10px 20px;
    margin: 5px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}

.cookie-modal button:hover {
    background-color: #0056b3;
}